<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AccessibilityToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccessibilityToolbar.Properties.Settings>
            <setting name="maxMagnifierHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="maxMagnifierWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="isLens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="culture" serializeAs="String">
                <value>ar</value>
            </setting>
            <setting name="invertMagnifierColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="magnificationRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="overlayR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overlayG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overlayB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isRuler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rulerWidth" serializeAs="String">
                <value>100</value>
            </setting>
        </AccessibilityToolbar.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
